# Explore Laptop Repair Data

In [47]:
import pandas as pd

In [48]:
laptops = pd.read_csv('laptops.csv')



Display the first five lines of the `laptops` DataFrame.

In [49]:
laptops.head()

,Fault type,Fixed,Repairable,End of life,Unknown,Repair attempts,value_counts,Product Age,Count,event_year,Unnamed: 10,Unnamed: 11
0,Performance,66%,28%,5%,2%,398,15.70%,0,15,2024,NaN,NaN
1,Power/battery,35%,43%,21%,1%,316,12.50%,1,26,2023,NaN,NaN
2,Configuration,66%,25%,5%,4%,295,11.70%,2,72,2022,NaN,NaN
3,Integrated screen,31%,53%,12%,5%,257,10.20%,3,68,2024,NaN,NaN
4,Internal storage,65%,24%,8%,3%,184,7.30%,4,103,2023,NaN,NaN



Display the data types of the `laptops` DataFrame columns.

In [50]:
laptops.dtypes

Fault type          object
Fixed               object
Repairable          object
End of life         object
Unknown             object
Repair attempts      int64
value_counts        object
Product Age          int64
Count                int64
event_year           int64
Unnamed: 10        float64
Unnamed: 11        float64
dtype: object



Ages of laptops being brought in for repair.

In [51]:
laptops['Product Age'].describe()

count    19.000000
mean      9.105263
std       5.801290
min       0.000000
25%       4.500000
50%       9.000000
75%      13.500000
max      19.000000
Name: Product Age, dtype: float64



Determine the earliest and latest years in the dataset.

In [52]:
laptops['event_year'].describe()

count      19.000000
mean     2022.894737
std         0.936586
min      2021.000000
25%      2022.000000
50%      2023.000000
75%      2024.000000
max      2024.000000
Name: event_year, dtype: float64


Output the number of laptops in the data for each `event_year`.

In [53]:
laptops['event_year'].value_counts()

event_year
2024    6
2023    6
2022    6
2021    1
Name: count, dtype: int64



Display the most common problems in the dataset.

In [54]:
laptops['Fault type'].value_counts()

Fault type
Performance                   1
Case/chassis                  1
Multiple                      1
Integrated optical drive      1
Integrated pointing device    1
Integrated media component    1
Virus/malware                 1
Internal damage               1
System board                  1
Integrated keyboard           1
Power/battery                 1
Overheating                   1
Ports/slots/connectors        1
Boot                          1
Operating system              1
Internal storage              1
Integrated screen             1
Configuration                 1
Other                         1
Name: count, dtype: int64


Output percentages instead of counts.

In [55]:
laptops['Fault type'].value_counts(normalize=True) * 100

Fault type
Performance                   5.263158
Case/chassis                  5.263158
Multiple                      5.263158
Integrated optical drive      5.263158
Integrated pointing device    5.263158
Integrated media component    5.263158
Virus/malware                 5.263158
Internal damage               5.263158
System board                  5.263158
Integrated keyboard           5.263158
Power/battery                 5.263158
Overheating                   5.263158
Ports/slots/connectors        5.263158
Boot                          5.263158
Operating system              5.263158
Internal storage              5.263158
Integrated screen             5.263158
Configuration                 5.263158
Other                         5.263158
Name: proportion, dtype: float64



Count the number of laptops in each category of `repair_status`.

In [56]:
laptops['Fixed'].value_counts()

Fixed
48%    3
66%    2
70%    2
52%    2
35%    1
31%    1
65%    1
59%    1
37%    1
49%    1
32%    1
29%    1
61%    1
75%    1
Name: count, dtype: int64